<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Asus/IdeaProjects/Post_Data_Homework/src/test"><classes><class name="tests.TestUser"><methods><include name="getListTest"/><include name="getListByUserTest"/><include name="getListByTagTest"/><include name="getPostByIdTest"/><include name="createPostViaObjectTest"/><include name="updatePostTest"/><include name="deletePostTest"/></methods></class></classes></test></suite>