<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Post_Data_Homework">
    <test name="Post_Data_Homework- pustanje testova">
        <classes>
            <class name="tests.TestUser">
                <methods>
                    <include name="getListTest"/>
                    <include name="getListByUserTest"/>
                    <include name="getListByTagTest"/>
                    <include name="getPostByIdTest"/>
                    <include name="createPostViaObjectTest"/>
                    <include name="updatePostTest"/>
                    <include name="deletePostTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>